@model _31161021458_NguyenTuQuyen.Models.HoaDon
@{
	ViewBag.Title = "AddToCart";
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")


}
<h2>Your cart</h2>
<table id="cartTable" class="table">
	<thead>
		<tr>
			<th>Số lượng</th>
			<th>Sản phẩm</th>
			<th class="text-right">Giá</th>
			<th class="text-right">Thành Tiền</th>
			<th>Xóa SP</th>
			<th>Tăng SL</th>
			<th>Giảm SL</th>

		</tr>
	</thead>
	<tbody>
		
		@foreach (var hoaDonChiTiet in Model.ChiTietHoaDons)
		{
			<tr>
				<td  class="text-center">@hoaDonChiTiet.SoLuong</td>
				<td class="text-left" onclick="location.href='@Url.Action("Details", "Products", new { id = hoaDonChiTiet.ProductObj.ID } )'">
					<a>
						<img src="@Url.Content(hoaDonChiTiet.ProductObj.ImagePath)" width="30" height="30" multiple />
						@hoaDonChiTiet.ProductObj.NameProduct
						<input type="button" id="maKM" style="display:none" value="@hoaDonChiTiet.ProductObj.PromotionCode" />

					</a>
				</td>
				<td class="text-right">@hoaDonChiTiet.ProductObj.Price.ToString("c")</td>
				<td class="text-right">
					@((hoaDonChiTiet.SoLuong * hoaDonChiTiet.ProductObj.Price).ToString("c"))
				</td>
				<td style="align-content:flex-end">
					@Html.ActionLink("Remove", "RemoveFromCart",
	new { maProducts = hoaDonChiTiet.MaProduct }, new { @class = "btn btn-sm btn-warning" })
				</td>
				<td>
					@Html.ActionLink("+", "TangSoLuong",
	new { id = hoaDonChiTiet.MaProduct }, new { @class = "btn btn-sm btn-primary" })
				</td>
				<td>
					@Html.ActionLink("-", "GiamSoLuong",
	new { id = hoaDonChiTiet.MaProduct }, new { @class = "btn btn-sm btn-primary" })
				</td>

			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3" class="text-right">Total:</td>
			<td class="text-right">
				@Model.TongTien.ToString("c")
			</td>
		</tr>
	</tfoot>
</table>
<div class="text-center">
	@Html.ActionLink("Continue shopping", "Index", null, new { @class = "btn btn-primary" })
	<a class="btn btn-primary" href="#" onclick="window.location.href='@Url.Action("Checkout", "Products")' + '?maKM=' + $('#maKM').val()">Checkout</a>
</div>


