@model IEnumerable<_31161021458_NguyenTuQuyen.Models.Product>

@{
	ViewBag.Title = "Home Page";
}

<body>
	<div class="container">
		<div class="col-md-2">
			<div>
				<ul style="list-style: none; ">

					@foreach (var item in Model)
					{

						<li style="margin-bottom:10px">
							@*<img src="@Url.Content(item.ImagePath)" width="20" height="20" multiple />
							@Html.ActionLink(item.Name, "Edit", "Movies", new { id = item.ID })*@
						</li>

					}
					<li style="margin-bottom:10px; margin-top:150px">@Html.ActionLink("Tạo mới danh mục", "Create", "Categories")</li>
					<li style="margin-bottom:10px">@Html.ActionLink("Tạo mới sản phẩm", "Create", "Products")</li>

				</ul>
			</div>
		</div>
		<div class="col-md-10">

			@*@foreach (var item in ViewBag.Products)
			{
				//@Html.ActionLink(item.NameProduct, "Edit", "Movies", new { id = item.ID })
				<div class="col-md-2">

					<p></p>@item.NameProduct

				</div>
			}*@
		</div>

	</div>
</body>